<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body class='auth'>

    <div class="manager">
      <h2>Managers Only</h2>
      <a href="/">Not a manager?</a>
    </div>

    <div class="sign-in">

      <form action="/sessions" method="post">
        <input type="text" name="username" placeholder='...username'>
        <input type="password" name="password" placeholder='...password'>
        <input type="submit" value="Log-In">
      </form>
    </div>

  </body>
</html>
