<html>
  <head>
    <title>Restaurant App</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/underscore.js"></script>
    <script type="text/javascript" src="/scripts/backbone.js"></script>
    <script type='text/template' id='food-template'>
      <article class='food'>
        <h3><%%= title %></h3>
        <%%= message %>
      </article>
    </script>


    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>

    <h1>This Is The Restaurant App</h1>
    <div class="card">
      <div class="order-info">
        <h2>Order #1</h2>
        <h4>Table #1</h4>
        <h4>No. of patrons: 2</h4>
      </div>
      <div class="left-side">

      </div>
      <div class="order-food">
        <table>
          <tr>
            <td>Cheeseburger</td>
            <td>$3.00</td>
          </tr>
          <tr>
            <td>Coke</td>
            <td>$1.00</td>
          </tr>
          <tr>
            <td>Dr. Pepper</td>
            <td>$1.00</td>
          </tr>
          <tr>
            <td>Hot Dog</td>
            <td>$2.00</td>
          </tr>
          <tr>
            <td>Diet Coke</td>
            <td>$1.00</td>
          </tr>
        </table>
      </div>
    </div>



    <section id="food-container">

    </section>

  </body>
</html>
