<html>
  <head>
    <title>RESTaurant</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <%= erb :templates %>
    <!-- <div class="table-header">
      <table>
        <tr>
          <td>Food Item /</td>
          <td>Price /</td>
          <td>Cuisine</td>
        </tr>
      </table>
    </div> -->

    <ul class='interface-list' id='menu-list'>

    </ul>

    <ul class='interface-list' id='party-list'>
    </ul>
    <div id="order-button">
      <button id="place-order">Place Order</button>
    </div>



    <!-- ****** JS Libraries ****** -->
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>

    <!-- ****** Backbone Models ****** -->
    <script src='/javascripts/models/FoodModel.js'></script>
    <script src='/javascripts/models/PartyModel.js'></script>

    <!-- ****** Backbone Collection ****** -->
    <script src='/javascripts/collections/FoodCollection.js'></script>
    <script src='/javascripts/collections/PartyCollection.js'></script>

    <!-- ****** Backbone Views ****** -->
    <script src='/javascripts/views/FoodView.js'></script>
    <script src='/javascripts/views/PartyView.js'></script>
    <script src='/javascripts/views/GeneralListView.js'></script>

    <!-- ****** JS Application ****** -->
    <script src='/javascripts/app.js'></script>

  </body>
</html>
