<script type='text/template' id='food-template'>
  <h3><%%= name %></h3>
  <p><%%= cents %></p>
  <button class="select-food">Select</button>
</script>

<script type='text/template' id='party-template'>
  <h3><%%= table_number %></h3>
  <button class="select-party">Select</button>
</script>
