body {
  margin: 0;
  padding: 0;
  background-color: #F8BC2D;
  font-family: 'Istok Web', sans-serif;
  color: #47292B;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #47292B;
}

input {
  border: 1px solid black;
  padding: 15px;
  background: #F8E2A9;
  font-size: 18px;
  font-family: 'Istok Web', sans-serif;
}

.card {
  background-color: white;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  border: 0;
  margin: 0;
}

h4 {
  text-align: center;
  border: 0;
  width: 45%;
  margin: 0 auto;
  padding: 0;
  float: left;
}

.order-food {
  float: left;
}

table {
  padding: 10px, 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
